* {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


#appealsForm{
    width: 550px;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 2px 2px 8px #aaa;
    .form-group{
        position: relative;
        background-color: transparent;
        .form-control{
            padding-left: 30px;
            position: relative;
            width: 450px;
            height: 50px;
            border-radius: 4px;
            margin-top: 20px;
            border: 1px solid #ddd;
            margin-top: 20px;
        }
    }
}



#phoneNumber{
    width: 380px;
}
.phoneNumber{
    margin-top: 30px;
    font-weight: 100;
    font-size: 14px;
}

  label {
    display: block;
    margin-bottom: 8px;
  }
  
  .input-group {
    display: flex;
  }
  
  .combined-input {
    display: flex;
  }
  
  select, input {
    padding: 10px;
    box-sizing: border-box;
    margin-right: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  